POSTGRES_URL=postgresql://postgres:mysecretpassword@localhost:5432/akbdb

VK_ACCESS_TOKEN=vk1.a...

YOUR_NAME=ИП Фамилия И.О.
PHONE_NUMBER=+7000000000
EMAIL=email@ya.ru
INN=9876543210
OGRN=123456789012345
LOCAL_CITY=Москва
LOCAL_ADDRESS=г. Москва, ул. Ленина, д. 1